*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10;
    padding: 20;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.preview{
    position: sticky;
    top: 0;

    background-color: white;

    z-index: 1000;

    padding: 20px;
}

div.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
    justify-items: center;
}
.display{
    width: 100%;
    height: 250px;
    background-color: #f0f0f0;
    border: 1px solid black;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(14, 82%, 56%);
    color: white;
    margin-bottom: 20px;
}
.image-container{
    width: 100%;
    height: 150px;
    background-color: #f0f0f0;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
div.container .phonics{
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid black;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}
@media(max-width: 480px){

    .phonics{
        height: 70px;
        font-size: 25px;
    }

    .display{
        font-size: 45px;
    }

}